<%- include("header.ejs") %>
                  <div id="r" class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                              <a href=""  class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" id="toprated" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Most sub</a>
                                 <a class="dropdown-item" id="topviewed" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;Most  Viewed</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                              </div>
                           </div>
                           <h6>Subscriptions</h6>
                        </div>
                     </div>
                    
                    
                     
                   
                    
                   
                     
                    
                    
                  </div>     
            </div>

            <script type="module" >
             var clientid="<%- idc %>"
             import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
             import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-analytics.js";
            
             const firebaseConfig = {
               apiKey: "AIzaSyB92ojoKUrMWJZO2xvi9GmN3lPKtuoLANM",
               authDomain: "ezlive-3de45.firebaseapp.com",
               databaseURL: "https://ezlive-3de45-default-rtdb.firebaseio.com",
               projectId: "ezlive-3de45",
               storageBucket: "ezlive-3de45.appspot.com",
               messagingSenderId: "307117333023",
               appId: "1:307117333023:web:0926177e6fe7e03f8bd32a",
               measurementId: "G-L3YF1HP60C"
             };

           
             const app = initializeApp(firebaseConfig);
             const analytics = getAnalytics(app);
             import{getDatabase,ref,get,set,child,update,remove,push} from "https://www.gstatic.com/firebasejs/9.8.1/firebase-database.js";
             const db=getDatabase();
             const dbref=ref(db);
             function toprated(x){
               get(child(dbref, "channels")). then((snapshot)=>{
                     if(snapshot!=null){
                          var objs=[];
                           var channel=snapshot.val();
                           for(var i=0;i<Object.values(channel).length;i++){
                              if(Object.values(channel)[i]["listsub"].includes(clientid)){
                                 objs.push(Object.values(channel)[i]);
                              }
                           }
                         
                                objs.sort( (a,b)=>{return a[x]-b[x]});
                               
                                var row=document.getElementById("r");
                                var e1=row.firstElementChild;
                                var child=row.lastElementChild;
                                while (child) {
                                 row.removeChild(child);
                                 child = row.lastElementChild;
                                    }
                                    row.append(e1);

                                for(var i=objs.length-1;i>=0;i--){
                                 
                                 
                                 var o=objs[i]["sub"];
                                 var type="";
                                 if(o>=1000000){o=o /1000000;type="M"}else{
                                 if(o>=1000){o=o /1000;type="K"}}
                                 var divcol=document.createElement("div");
                              divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                              var divcard=document.createElement("div");
                              divcard.setAttribute("class","channels-card");
                              var divcardimage=document.createElement("div");
                              divcardimage.setAttribute("class","channels-card-image");
                              var a=document.createElement("a");
                  
                              a.setAttribute("href",window.location.origin+"/video-page-recieve?id="+objs[i]["userid"]+"&name="+objs[i]["channel-name"]);
                              var img=document.createElement("img");
                              img.setAttribute("class","img-fluid");
                              img.setAttribute("src",objs[i]["imageurl"]);
                              a.append(img);
                              divcardimage.append(a);
                              var s=document.createElement("div");
                              s.setAttribute("class","channels-card-image-btn");
                              var type=""
                              var sub=objs[i]["sub"]
                              if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                              }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+objs[i]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=objs[i]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              row.append(divcol);

                                }
                     
                  }}
               )

             }
             var a=document.getElementById("toprated");
             a.addEventListener("click",()=>{
                toprated("sub");
             })
              a=document.getElementById("topviewed");
             a.addEventListener("click",()=>{
                toprated("totalviews");
             })
             var row=document.getElementById("r");
             get(child(dbref, "channels")). then((snapshot)=>{
                     if(snapshot!=null){
                           var channel=snapshot.val();
                           for(var i=0;i<Object.values(channel).length;i++){
                              if(Object.values(channel)[i]["listsub"].includes(clientid)){
                               
                                 var o=Object.values(channel)[i]["sub"];
                                 var type="";
                                 if(o>=1000000){o=o /1000000;type="M"}else{
                                 if(o>=1000){o=o /1000;type="K"}
                                 var divcol=document.createElement("div");
                              divcol.setAttribute("class","col-xl-3 col-sm-6 mb-3");
                              var divcard=document.createElement("div");
                              divcard.setAttribute("class","channels-card");
                              var divcardimage=document.createElement("div");
                              divcardimage.setAttribute("class","channels-card-image");
                              var a=document.createElement("a");
                  
                              a.setAttribute("href",window.location.origin+"/video-page-recieve?id="+Object.values(channel)[i]["userid"]+"&name="+Object.values(channel)[i]["channel-name"]);
                              var img=document.createElement("img");
                              img.setAttribute("class","img-fluid");
                              img.setAttribute("src",Object.values(channel)[i]["imageurl"]);
                              a.append(img);
                              divcardimage.append(a);
                              var s=document.createElement("div");
                              s.setAttribute("class","channels-card-image-btn");
                              var type=""
                              var sub=Object.values(channel)[i]["sub"]
                              if(sub>=1000000){sub=sub /1000000;type=" M"}else{
                                 if(sub>=1000){sub=sub /1000;type=" K"}
                              }
                              s.innerHTML='<button type="button" class="btn btn-outline-danger btn-sm">Subscribe <strong>'+sub+type+'</strong></button>';
                              divcardimage.append(s);
                              divcard.append(divcardimage);
                              divcol.append(divcard);
            
                              var divbody=document.createElement("div");
                              divbody.setAttribute("class","channels-card-body");
                              var divtitle=document.createElement("div");
                              divtitle.setAttribute("class","channels-title");
                              divtitle.innerHTML="<a href='#'>"+Object.values(channel)[i]["channel-name"]+"<span title='' data-placement='top' data-toggle='tooltip' data-original-title='Verified'><i class='fas fa-check-circle'></i></span></a>";
            
                              divbody.append(divtitle);
            
                              var divsc=document.createElement("div");
                              divsc.setAttribute("class","channels-view");
                              divsc.innerHTML=Object.values(channel)[i]["sub"]+' subscribers';
                              divbody.append(divsc);
                              divcard.append(divbody);
                              
                           
                              row.append(divcol);
                              
            
            
                              }
                                  
                              }
                           }
                        }
                     }
             );

            </script>
            <%- include("footer.ejs") %>